html, body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-image: url(./img/snapedit_1708081144661.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    text-align: center;
    color: rgb(255, 255, 210);
    
}
.titulo{
    font-size: 3rem;
    margin-top: 1.5em;
    max-width: 600px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: inline-flex;
    text-align: center;
    padding: 10px;
    background-image: url(./img/texturatoty.jpg);
}

input{
    color: rgb(247, 243, 197);
    background-color: rgb(36, 35, 85);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}
.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    text-align: center;
}
button{
    color: rgb(247, 243, 197);
    background-color: rgb(36, 35, 85);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    border-color: black;
}

ul li{
    font-family: 'Rubik, 'sans-serif;
    font-size: 20px;
    background-color: blue;
    padding: 3px,3px;
    flex-grow: 1;
    text-align: center;
    list-style:none;
    color: yellow;
    display:inline-flex;
    border-radius: 7px;
    margin: 3.5px;
    padding-inline-start: 0em;
    
}

li:hover{
    cursor: pointer;
}
.estadio {
    display: flex;
    justify-content: center;
    background-color: none
    
}
.grada {
    border-radius:100px;
    background-color: none;
    padding: 5%;
    width: 780px;
}
.campo {
    display: flex;
    justify-content: start;
    position: relative;
    width: 700px;
    height: 360px;
    background-image: url(./img/cesped.jpg);
    background-position: center;
    background-size: 100%;
    padding: 40px;
}
.izquierda {
    position: relative;
    width: 50%;
    border: 2px solid #fff;
    border-right: none;
    overflow: hidden;
}
.derecha {
    position: relative;
    width: 50%;
    border: 2px solid #fff;
    overflow: hidden;
}
.contenedor-porteria {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
.porteria {
    border: 2px solid #fff;
    width: 15px;
    height: 50px;
}
 
.porteria-izquierda {
    border-right: none;
}
 
.porteria-derecha {
    border-left: none;
}
.corner {
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
 
.izquierda .corner-superior {
    position: absolute;
    top: -12px;
    left: -14px;
}
 
.izquierda .corner-inferior {
    position: absolute;
    bottom: -12px;
    left: -14px;
}
 
.derecha .corner-superior {
    position: absolute;
    top: -12px;
    right: -14px;
}
 
.derecha .corner-inferior {
    position: absolute;
    bottom: -12px;
    right: -14px;
}
.area {
    width: 90px;
    height: 160px;
    border: 1px solid #fff;
    top: 29%;
    position: absolute;
}
 
.izquierda .area {
    border-left: none;
}
 
.derecha .area {
    right: 0px;
    border-right: none;
}

.drag{
    z-index: 10;
}